# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Logs
ocr_report.log
*.log

# Data Folders
MRTG-Data/*
!MRTG-Data/.gitkeep

# Project Outputs (Excel)
MRTG-Monthly-Report.xlsx
MRTG-Monthly-Report-image-only.xlsx
MRTG-Monthly-Report-Final.xlsx

# Temporary Files
temp_img.png
*.tmp

# PaddleOCR / PaddlePaddle Models
.paddlex/
inference/
inference_model/

# IDEs
.vscode/
.idea/
